table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

th, td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even){background-color: #E4E4E4}

tr:hover {background-color: #2ecc71;}

th {
    background-color: #16a085;
    color: white;
    text-align: center;
}

nav {
    width: 100%;
    background: #008080;
    padding: 0px;
    color: white;
}


/* Style the footer */
footer {
    background-color: #008080;
    padding: 0px;
    text-align: center;
    color: white;
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
}


body {
    font: 16px "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
}

input[type=text] {
    background-color: #3CBC8D;
    color: white;
    border: 2px solid #3CCC8D;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
input[type=text]:focus {
    border: 2px solid #50A070;
    background-color: lightgreen;
}


input[type=button], input[type=submit], input[type=reset] {
    width: 100%;
    background-color: #3CBC8D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #30D030;
    border-radius: 2px;
    color: #008080;
    background-color: #A8F8D8;
    resize: none;
}

textarea:focus {
    background-color: #BBFFDD;
    color: black;
    border: 2px solid #33FF33;
}


