<!doctype html>
<title>Wiki</title>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Wiki">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <script src="{{ url_for('static', filename='jquery-3.3.1.js') }}"></script>
    <script src="{{ url_for('static', filename='fontawesome.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fontawesome.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='wiki-style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='prism.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tufte.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='latex.css') }}">
    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body>

<!--
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #008080;">
-->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #008080;">
  <a class="navbar-brand" href="./home">Wiki</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <a class="nav-link" href="./home">Home <span class="sr-only">(current)</span></a>
      </li>

      {% block extra_header %}{% endblock %}

      <li class="nav-item">
        <a class="nav-link" href="./random_wiki">Random</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="./new_wiki">New</a>
      </li>

      {% block extra_nav %} {% endblock extra_nav %}

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

  </div>
</nav>




<div class="col-xs-12" style="height:50px;"></div>

<div class="container-fluid" id=main>
    <div class="row justify-content-md-center mt-5">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="wikibody">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>
</div>


<div class="col-xs-12" style="height:50px;"></div>

<footer>
Wiki
</footer>

<script src="{{ url_for('static', filename='prism.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='popper.js') }}"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>
{% block extra_script %}
{% endblock extra_script %}
</body>

</html>
